ul {
    display: flex;
    height: 58vh;
    overflow: auto;
    background: #a0edf9;
    font-size: 21px;
    font-weight: bolder;
    font-family: arial;
    flex-direction: column;
    flex-wrap: wrap;
}